starwars-people-exp-api/src/main/mule/starwars-people-exp-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <apikit:config name="starwars-people-exp-api-config" api="resource::fd99eb33-f806-41b4-b104-f997024179fe:starwars-people-exp-api:1.0.0:raml:zip:starwars-people-exp-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="starwars-people-exp-api-main">
        <http:listener path="/api/*" config-ref="HTTP_Listener_config">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="starwars-people-exp-api-config" />
        <error-handler ref="Error-Handler-people">
            
        </error-handler>
    </flow>
    <flow name="starwars-people-exp-api-console">
        <http:listener config-ref="HTTP_Listener_config" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="starwars-people-exp-api-config" />
		<error-handler ref="Error-Handler-people" />
	</flow>
    <flow name="get:\people:starwars-people-exp-api-config">
        <logger level="INFO" message="get:\people:starwars-people-exp-api-config -&gt; Inicio" doc:name="Inicio"/>
		<flow-ref doc:name="people-sysFlow" doc:id="a3a5335d-6206-42f9-8ea4-6353e5c4bda8" name="people-sysFlow"/>
		<logger level="INFO" doc:name="Fin" doc:id="9ea03b1a-43a5-4a03-b446-0455fd2403d2" message="get:\people:starwars-people-exp-api-config -&gt; Fin"/>
    </flow>
</mule>
